<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addNewCar()">Add New Car</button>
    </mat-menu>
  </button>
  <span>Vehicle Price List</span>
</mat-toolbar>


<table mat-table #mytable [dataSource]="cars" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td mat-cell *matCellDef="let car"> {{car.id}} </td>
  </ng-container>

  <ng-container matColumnDef="make">
    <th mat-header-cell *matHeaderCellDef> Make</th>
    <td mat-cell *matCellDef="let car"> {{car.make}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model</th>
    <td mat-cell *matCellDef="let car"> {{car.model}}</td>
  </ng-container>

  <ng-container matColumnDef="modelEdition">
    <th mat-header-cell *matHeaderCellDef> Model Edition</th>
    <td mat-cell *matCellDef="let car"> {{car.edition}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let car"> {{car.price | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Options</th>
    <td mat-cell *matCellDef="let car">
      <button mat-raised-button color="primary" (click)="showCarOptions(car)">Show Options</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="change">
    <th mat-header-cell *matHeaderCellDef> Change</th>
    <td mat-cell *matCellDef="let car">
      <mat-grid-list cols="1" rowHeight="4:1">

        <mat-grid-tile>
          <button mat-mini-fab color="basic" (click)="editCar(car)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="deleteCar(car.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-grid-tile>

      </mat-grid-list>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
