<div mat-dialog-title *ngIf="dialogMode === 'EDIT' ">Edit Car</div>
<div mat-dialog-title *ngIf="dialogMode === 'NEW' ">Create New Car</div>
<div mat-dialog-title *ngIf="dialogMode === 'VIEW' ">View Car</div>

<div mat-dialog-content style="height: calc(100% - 96px);">

  <form>

    <mat-accordion fxLayout="column">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Car Details
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column">

          <mat-form-field appearance="outline">
            <mat-label>Make</mat-label>
            <input matInput required [(ngModel)]="dialogModel.make" name="make" placeholder="Ford, Fiat">
            <mat-hint>Max 20 Characters</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <input matInput required [(ngModel)]="dialogModel.model" name="model" placeholder="Focus, Cactus">
            <mat-hint>Max 20 Characters</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Model Edition</mat-label>
            <input matInput required [(ngModel)]="dialogModel.edition" name="edition"
                   placeholder="DCI 1500cc, Green 3000cc">
            <mat-hint>Max 40 Characters</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Base Price</mat-label>
            <input matInput required currencyMask [(ngModel)]="dialogModel.price" name="price" placeholder="{{ 17000| currency}}">
            <mat-hint>Max 10 Digits</mat-hint>
          </mat-form-field>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Optional equipment
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column">

          <div fxLayout="row">
            <mat-form-field appearance="outline">
              <mat-label>Option Name</mat-label>
              <input matInput [(ngModel)]="newOptionName" name="optionName" placeholder="sun-roof, heated-seats">
              <mat-hint>Max 20 Characters</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Price</mat-label>
              <input matInput [(ngModel)]="newOptionPrice" currencyMask name="optionPrice" placeholder="{{ 200| currency}}">
              <mat-hint>Max 10 Digits</mat-hint>
            </mat-form-field>

            <button mat-fab color="primary" (click)="addOption()">
              <mat-icon>add</mat-icon>
            </button>
          </div>


          <div *ngFor="let optionItem of this.dialogModel.options" fxLayout="row">

            <mat-form-field>
              <input matInput disabled [value]="optionItem.name">
            </mat-form-field>

            <mat-form-field>
              <input matInput disabled [value]="optionItem.price | currency">
            </mat-form-field>

            <button mat-mini-fab color="warn" (click)="deleteOption(optionItem)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="this.dialogModel" cdkFocusInitial>Save</button>
</div>
