<h1 mat-dialog-title>{{car.make + ' ' + car.model }} </h1>
<h2 mat-dialog-title>{{car.edition }} </h2>

<div mat-dialog-content>

  <p *ngIf="!car.options || car.options.length===0 ">No Extra Options Available</p>
  <p *ngIf="car.options && car.options.length>0"> Available Options </p>
  <ol>
    <li *ngFor="let option of car.options; let i = index">
       {{ option.name }}, Price: {{option.price | currency}}
    </li>
  </ol>
</div>
